body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px 120px 114px 120px;
  background-image: url(./img/Background.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

/* Nav */

.headerNav {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 0 40px;
}
.headerlogo {
  display: flex;
  align-items: center;
}
.graySquare {
  position: relative;
  width: 16px;
  height: 16px;
  background: rgba(55, 53, 41, 0.155594);
  border-radius: 5px;
}
.blackSquare {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: black;
  left: 4.5px;
  top: 4.3px;
  border-radius: 25px;
}
.popLogoName {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
}
.popLogo {
  margin-right: 6px;
  position: relative;
  top: 3px;
}

.headerLinks {
  width: 650px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.subHeaderLinks {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header_item {
  margin-right: 32px;
}

.elemHeaderLinks {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
}
.header_button {
  background: rgba(17, 17, 17, 0.05);
  border: none;
  border-radius: 8px;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #111111;
  cursor: pointer;
  padding: 5px 20px;
  outline: none;
  transition: all 0.2s linear;
}
.header_button:hover {
  background-color: #111111;
  color: #ffffff;
}

.left_button {
  margin-right: 8px;
}

.elemHeaderLinks1 {
  margin-left: 40px;
  text-align: center;
  padding-top: 9px;
  color: black;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  width: 84px;
  height: 27px;
  background-color: rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  transition: 0.2s linear;
}
.elemHeaderLinks1:hover {
  color: white;
  background-color: #111111;
}
.elemHeaderLinks2 {
  margin-left: 15px;
  text-align: center;
  padding-top: 9px;
  color: black;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  width: 112px;
  height: 27px;
  background-color: rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  transition: 0.2s linear;
}
.elemHeaderLinks2:hover {
  color: white;
  background-color: #111111;
}

/* headerInfo */

.headerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.titleOfHeader {
  width: 969px;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.8px;
  margin: 0 0 28px 0;
}

.textInfo {
  width: 595px;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  margin: 0;
}

form {
  width: 400px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 16px rgb(55 53 40 / 15%);
  padding: 5px 5px 5px 27px;
  border-radius: 16px;
  margin-top: 32px;
}

.text {
  width: 210px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  background: transparent;
  border: none;
  outline: none;
}

.submit {
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 12px;
  background: radial-gradient(
    92.4% 626.63% at 7.6% 21.88%,
    #c67af7 0%,
    #ff75c0 42.19%,
    #ffc95f 97.92%
  );
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 18px 22px;
}

.infoAboutFreeTrial {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  margin: 15px 0 0 0;
}
.imgLogo {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.welcome {
  width: 96px;
  height: 32px;
}
.moodz {
  width: 100px;
  height: 22px;
}
.kipli {
  width: 111px;
  height: 17px;
}
.payFit {
  width: 111;
  height: 35px;
}
.prestaShop {
  width: 111;
  height: 19px;
}
.tooGood {
  width: 111px;
  height: 38px;
}

.textLogo {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 18px 0 0 0;
}
.arrow_down {
  margin: 34px 0 66px 0;
  cursor: pointer;
}
.textWidthEmojiHeader {
  width: 600px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: #fefcfa;
  box-shadow: 0px 4px 16px #f4e6d7;
  border-radius: 16px 16px 16px 4px;
  padding: 24px 56px 24px 24px;
  box-sizing: border-box;
}
.firstOrigin {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}
.imojiHeader {
  position: absolute;
  width: 82px;
  height: 100px;
  top: 150px;
  left: -90px;
}
