* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding: 0;
    box-sizing: border-box
}

a {
    color: #111111;
    text-decoration: none;
}

main {
    width: 1440px;
    margin: 0 auto;
}

.header {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px 120px 114px 120px;
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-position-x: center;
}


/* Nav */

.headerNav {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    padding: 0 40px;
}

.headerlogo {
    display: flex;
    align-items: center;
}

.graySquare {
    position: relative;
    width: 16px;
    height: 16px;
    background: rgba(55, 53, 41, 0.155594);
    border-radius: 5px;
}

.blackSquare {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: black;
    left: 4.5px;
    top: 4.3px;
    border-radius: 25px;
}

.popLogoName {
    margin: 0;
    font-weight: 900;
    font-size: 24px;
}

.popLogo {
    margin-right: 6px;
    position: relative;
    top: 3px;
}

.headerLinks {
    width: 650px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.subHeaderLinks {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_item {
    margin-right: 32px;
}

.elemHeaderLinks {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

.header_button {
    background: rgba(17, 17, 17, 0.05);
    border: none;
    border-radius: 8px;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #111111;
    cursor: pointer;
    padding: 5px 20px;
    outline: none;
    transition: all 0.2s linear;
}

.header_button:hover {
    background-color: #111111;
    color: #ffffff;
}

.left_button {
    margin-right: 8px;
}

.elemHeaderLinks1 {
    width: 84px;
    height: 27px;
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    margin-left: 40px;
    text-align: center;
    padding-top: 9px;
    background-color: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    transition: 0.2s linear;
}

.elemHeaderLinks1:hover {
    color: white;
    background-color: #111111;
}

.elemHeaderLinks2 {
    width: 112px;
    height: 27px;
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    margin-left: 15px;
    text-align: center;
    padding-top: 9px;
    background-color: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    transition: 0.2s linear;
}

.elemHeaderLinks2:hover {
    color: white;
    background-color: #111111;
}


/* headerInfo */

.headerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
}

.titleOfHeader {
    width: 969px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.8px;
    margin: 0 0 28px 0;
}

.textInfo {
    width: 595px;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    margin: 0;
}

form {
    width: 400px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 16px rgb(55 53 40 / 15%);
    border-radius: 16px;
    padding: 5px 5px 5px 27px;
    margin-top: 32px;
}

.text {
    width: 210px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background: transparent;
    border: none;
    outline: none;
}

.submit {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 12px;
    background: radial-gradient( 92.4% 626.63% at 7.6% 21.88%, #c67af7 0%, #ff75c0 42.19%, #ffc95f 97.92%);
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 18px 22px;
}

.infoAboutFreeTrial {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin: 15px 0 0 0;
}

.imgLogo {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.welcome {
    width: 96px;
    height: 32px;
}

.moodz {
    width: 100px;
    height: 22px;
}

.kipli {
    width: 111px;
    height: 17px;
}

.payFit {
    width: 111;
    height: 35px;
}

.prestaShop {
    width: 111;
    height: 19px;
}

.tooGood {
    width: 111px;
    height: 38px;
}

.textLogo {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 18px 0 0 0;
}

.arrow_down {
    cursor: pointer;
    margin: 34px 0 66px 0;
}

.textWidthEmojiHeader {
    width: 600px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: #fefcfa;
    box-shadow: 0px 4px 16px #f4e6d7;
    border-radius: 16px 16px 16px 4px;
    box-sizing: border-box;
    padding: 24px 56px 24px 24px;
}

.firstOrigin {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

.imojiHeader {
    width: 82px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: -90px;
}


/* Main */

.firstDepartment {
    width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.firstSection {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 0px 160px;
}

.TextOfFirstSection {
    width: 450px;
    box-sizing: border-box;
    font-style: 400;
    font-weight: bold;
    font-size: 58px;
    line-height: 78px;
    letter-spacing: 1.2px;
    margin: 30px 0 0 0;
}

.purple {
    background-color: #efdffd;
}

.imgOfFristSection {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
}

.firstImgFirstSection {
    width: 550px;
    height: 53px;
    background: url(.png);
    filter: drop-shadow(0px 4px 16px rgba(103, 63, 24, 0.2));
    border-radius: 0px;
}

.secondImgFirstSection {
    width: 550px;
    height: 216px;
    margin-top: 25px;
    background: url(.png);
    filter: drop-shadow(0px 4px 16px rgba(103, 63, 24, 0.2));
    border-radius: 16px;
}

.thirdImgFirstSection {
    width: 550px;
    height: 196px;
    filter: drop-shadow(0px 1px 50px rgba(103, 63, 24, 0.2));
    border-radius: 16px;
    position: absolute;
    top: 200px;
    right: 80px;
}

.textWidthEmojiFirstSection {
    width: 400px;
    height: 76px;
    position: absolute;
    background: black;
    color: white;
    top: 450px;
    right: 80px;
    background: #111111;
    box-shadow: 0px 4px 16px rgba(154, 94, 36, 0.15);
    border-radius: 16px 16px 4px 16px;
    padding: 17px 42px 15px 16px;
    box-sizing: border-box;
    margin: 0;
}

.textFirstSection {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin: 0;
}

.fourthImgFirstSection {
    height: 100px;
    position: absolute;
    left: 410px;
    top: 20px;
}

.secondSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 150px 0px 130px;
}

.imgSecondSection {
    display: flex;
    flex-direction: column;
    position: relative;
}

.imgSecondSection1 {
    width: 470px;
    height: 554px;
    background: url(.png);
    filter: drop-shadow(0px 4px 16px rgba(103, 63, 24, 0.2));
    border-radius: 10px;
}

.imgSecondSection2 {
    width: 548px;
    height: 250px;
    position: absolute;
    top: 307px;
    left: 65px;
    background: url(.png);
    filter: drop-shadow(0px 4px 16px rgba(103, 63, 24, 0.2));
    border-radius: 10px;
}

.textWidthEmojiSecondSection {
    width: 400px;
    height: 98px;
    color: white;
    background-color: black;
    box-shadow: 0px 4px 16px rgba(154, 94, 36, 0.15);
    border-radius: 16px 16px 16px 4px;
    box-sizing: border-box;
    padding: 17px 42px 15px 16px;
    margin-top: 21px;
    margin-left: 65px;
}

.textSecondSecond {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.emojiOfSecondSection {
    width: 81px;
    height: 100px;
    position: absolute;
    top: 635px;
    left: -20px;
}

.textSecondSection {
    width: 480px;
    height: 408px;
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin: 0;
}

.green {
    background: #e5ffc7;
}

.thirdSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(./img/backkgroundForThirdSection.png) no-repeat;
    padding: 182px 125px 0px 171px;
}

.textOfThirdSection {
    width: 433px;
    height: 476px;
    font-size: 58px;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin: 0;
}

.orange {
    background: #fde49b;
}

.imgThirdSection {
    margin-top: 30px;
    margin-left: 60px;
}

.imgThirdSection1 {
    width: 651px;
    height: 166px;
    filter: drop-shadow(0px 4px 16px rgba(103, 63, 24, 0.2));
    border-radius: 16px;
}

.imgThirdSection2 {
    width: 651px;
    height: 261;
    filter: drop-shadow(0px 4px 16px rgba(103, 63, 24, 0.2));
    border-radius: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.imgThirdSection3 {
    width: 651px;
    height: 137px;
    filter: drop-shadow(0px 4px 16px rgba(103, 63, 24, 0.2));
    border-radius: 16px;
}

.textThirdSecond {
    width: 400px;
    height: 98px;
    box-sizing: border-box;
    position: absolute;
    top: 130px;
    right: 220px;
    color: white;
    background: #111111;
    font-size: 16px;
    box-shadow: 0px 4px 16px rgba(154, 94, 36, 0.15);
    border-radius: 16px 16px 4px 16px;
    padding: 17px 24px 15px 16px;
    margin: 0;
}

.imgThirdSection4 {
    width: 82px;
    height: 100px;
    position: absolute;
    top: 185px;
    right: 130px;
}

.secondDepartment {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111111;
    padding: 80px 178px 144px;
    box-sizing: border-box;
    position: relative;
}

.textOfTitle {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin: 0 0 44px 0;
}

.EmojiPlusText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionWidthEmoji {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourthSectionFirstEmoji {
    width: 74px;
    height: 80px;
}

.smallTextSection {
    color: white;
    margin: 10px 0 0 0;
}

.largeTextSection {
    width: 238px;
    color: white;
    text-align: center;
    margin: 18px 0 0 0;
}

.wave {
    position: absolute;
    bottom: -1px;
}

.thirdDepartment {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.textOfTitleThirdDepartment {
    color: #111111;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.6px;
    margin: 80px 0px 50px 0px;
}

.SectionOfPeople {
    height: 527px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstLine {
    width: 2000px;
    display: flex;
    justify-content: space-between;
    margin-right: 275px;
}

.element {
    width: 487px;
    height: 163px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 14px 32px rgba(103, 63, 24, 0.1);
    border-radius: 10px;
    padding: 15px 20px;
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.logoOfFirstElementFirstLine {
    width: 119px;
    height: 25px;
}

.logoOfFirstElementFirstLineThirdElem {
    width: 167px;
    height: 25px;
}

.description {
    width: 347px;
    margin: 12px 0 0 0;
    line-height: 21px;
}

.nameAndLastName {
    margin: 30px 0 0 0;
    font-size: 14px;
}

.nameAndLastNameForLastElemLastLine {
    margin: 0;
    padding-top: 9px;
    font-size: 14px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.TextPosition {
    color: rgba(55, 53, 40, 0.6);
    margin: 0 0 16px 0;
    text-align: right;
    font-size: 12px;
}

.photo {
    width: 56px;
    height: 56px;
}

.secondLine {
    width: 1493px;
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
}

.descriptionSecondLineSecondElem {
    margin: 0;
    padding-top: 12px;
}

.leftSideThirdElementSecondLine {
    display: flex;
    flex-direction: column;
}

.logoOfFirstElementSecondLine {
    width: 63px;
    height: 25px;
}

.logoOfFirstElementSecondLine2 {
    width: 153px;
    height: 25px;
}

.logoOfFirstElementSecondLine3 {
    width: 25px;
    height: 25px;
}

.logoOfFirstElementSecondLine4 {
    width: 89px;
    height: 25px;
}

.nameAndLastNameFirstElemSecLine {
    margin: 0;
    padding-top: 50px;
    font-size: 14px;
}

.nameAndLastNameSecondLineSecondElem {
    margin: 0;
    padding-top: 12px;
    font-size: 14px;
}

.TextPositionSecondLine {
    width: 80px;
    text-align: right;
    font-size: 12px;
    color: rgba(55, 53, 40, 0.6);
    margin: 0;
}

.photoElementSecondLine {
    width: 56px;
    height: 56px;
    margin-left: 23px;
}

.thirdLine {
    width: 2000px;
    display: flex;
    justify-content: space-between;
    margin-right: 275px;
}

.fourthDepartment {
    width: 1440px;
    margin: 0 auto;
    background: url(./img/back4Depart.png) no-repeat;
    background-position: bottom;
}

.mainSectionFourthDepartment {
    width: 970px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 172px;
    margin: 0 auto;
}

.fristElemFourthDepartment {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleFirstElemFourthDepartment {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.6px;
}

.textFirstElemFourthDepartment {
    width: 292px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.secondTextFirstElemFourthDepartment {
    text-align: center;
    font-size: 13px;
    margin: 0;
}

.price {
    font-size: 60px;
    letter-spacing: 0.8px;
    margin: 22px 0px 0px;
}

.fotmOnFourthDepartment {
    position: absolute;
    top: 380px;
    box-shadow: 0px 3px 10px 0px gray;
}

.blockWidthEmojiAndBackground {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fefaf7;
    margin-top: 63px;
}

.titleOnBlock {
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding-top: 43px;
}

.EmojiText1 {
    width: 305px;
    display: flex;
    align-items: center;
    margin: 42px 0px 26px 0px;
}

.EmojiText2 {
    width: 305px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.EmojiText3 {
    width: 305px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.EmojiText4 {
    width: 305px;
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.EmojiText5 {
    width: 305px;
    display: flex;
    align-items: center;
    padding-bottom: 41px;
}

.emojiWT {
    width: 24px;
    height: 22px;
}

.textWE {
    font-weight: normal;
    font-size: 16px;
    margin-left: 12px;
    text-align: left;
    line-height: 22px;
    margin: 0;
}

.textWE2 {
    width: 262px;
    font-weight: normal;
    font-size: 16px;
    /* margin-left: 12px; */
    margin: 0 0 0 12px;
}

.emojiWT2 {
    width: 19px;
    height: 27px;
    position: relative;
    bottom: 6px;
}

.emojiWT3 {
    width: 24px;
    height: 20px;
    position: relative;
    top: 3px;
}

.emojiWT5 {
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 10px;
}

.textSecondElemFourthDepartment {
    width: 427px;
    font-weight: bold;
    font-size: 58px;
    line-height: 68px;
    letter-spacing: 1.2px;
    margin: 0;
}

.textEmojiFourthDepartment {
    width: 400px;
    height: 98px;
    box-sizing: border-box;
    position: relative;
    left: 6px;
    top: 41px;
    right: 220px;
    color: white;
    background: #111111;
    box-shadow: 0px 4px 16px rgba(154, 94, 36, 0.15);
    border-radius: 16px 16px 4px 16px;
    font-size: 16px;
    padding: 17px 33px 37px 16px;
    margin: 0;
}

.emojiSecondElemFourthDepartment {
    width: 76px;
    height: 100px;
    position: absolute;
    left: 965px;
}

.fifthDepartment {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./img/bk5.png);
    margin-top: 170px;
}

.titleFifthDepartment {
    font-weight: normal;
    font-size: 58px;
    letter-spacing: 1.2px;
    margin: 0;
}

.firstSectionFifthDepartment {
    width: 960px;
}

.fifthDepartmentText {
    font-weight: normal;
    font-size: 26px;
    margin: 0;
}

.fifthDepartmentText1 {
    padding-top: 40px;
}

.fifthDepartmentText2 {
    padding-top: 39px;
}

.fifthDepartmentText3 {
    padding-top: 29px;
}

.fifthDepartmentText4 {
    padding-top: 35px;
}

.fifthDepartmentText5 {
    padding-top: 46px;
    padding-bottom: 97px;
}

.secondSectionFifthDepartment {
    width: 804px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstPartsecondSection {
    display: flex;
    flex-direction: column;
    position: relative;
}

.textFirstPartsecondSection {
    width: 320px;
    height: 186px;
    box-sizing: border-box;
    position: relative;
    color: white;
    background: #111111;
    box-shadow: 0px 4px 16px rgba(154, 94, 36, 0.15);
    border-radius: 16px 16px 16px 4px;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 17px 18px 17px 16px;
}

.emojififthDepartment {
    width: 80px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: -90px;
}

.secondPartsecondSection {
    display: flex;
}

.subPart1 {
    text-align: center;
    margin-right: 16px;
}

.subPart2 {
    text-align: center;
}

.textSubPart {
    font-size: 15px;
    margin: 9px 0 0 0;
}

.sixthDepartment {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 108px 240px 140px 240px;
    box-sizing: border-box;
    background: url(./img/bc6.png);
}

.mainSectioniSixthDepartment {
    width: 960px;
    display: flex;
    justify-content: space-between;
    padding: 108px 0 141px 0;
}

.firstTextSixthDepartment {
    width: 400px;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin: 0;
}

.secondSectionDepartment {
    text-align: center;
}

.textSecondSectionDepartment {
    color: #ffffff;
    font-size: 12px;
    margin: 17px 0 0 0;
}

.form2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    padding: 5px 5px 5px 27px;
    margin: 0;
    border: none;
}

.text2 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background: transparent;
    border: none;
    outline: none;
}

.text2::placeholder {
    color: #ffffff;
}

footer {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 100px 160px;
    box-sizing: border-box;
}

.mainFooterSection {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    padding: 94px 0 102px 0;
}

.footerlogo {
    width: 107px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.graySquare {
    width: 16px;
    height: 16px;
    position: relative;
    background: rgba(55, 53, 41, 0.155594);
    border-radius: 5px;
}

.blackSquareFooter {
    width: 7px;
    height: 7px;
    position: absolute;
    background-color: #000066;
    left: 4.5px;
    top: 4.3px;
    border-radius: 25px;
}

.popLogoNameFooter {
    font-weight: 900;
    font-size: 24px;
    color: #000066;
    margin: 0;
}

.popLogo {
    position: relative;
    top: 3px;
    margin-right: 6px;
}

.firstSectionOnFooter {
    width: 164px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.firstTextFirstSectionOnFooter {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
}

.firstTextFirstSectionOnFooter2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    margin-top: 12px;
}

.secondTextFirstSectionOnFooter {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    margin: 12px 0 0 0;
}

.thirdTextFirstSectionOnFooter {
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    margin: 15px 0 0 0;
}

.secondSectionOnFooter {
    width: 119px;
    display: flex;
    flex-direction: column;
}

.titleFooter {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.elementFooter {}

.TextSectionOnFooter {
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    margin: 15px 0 0 0;
}

.thirdSectionOnFooter {
    display: flex;
    flex-direction: column;
}

.fourthSectionOnFooter {
    display: flex;
    flex-direction: column;
}

.fifthSectionOnFooter {
    width: 164px;
    display: flex;
    flex-direction: column;
}